---
import {contentfulClient} from "../../lib/contentful";
import {documentToHtmlString} from "@contentful/rich-text-html-renderer";
import type {BlogPost} from "../../lib/contentful";

export async function getStaticPaths() {
    const entries = await contentfulClient.getEntries<BlogPost>({
        content_type: "blogPost",
    });

    console.log("found entries: ", entries.items.length);

    return entries.items.map((item) => ({
        params: {slug: item.fields.slug},
        props: {
            title: item.fields.title,
            content: documentToHtmlString(item.fields.content),
            date: new Date(item.fields.date).toLocaleDateString(),
        },
    }));
}

const {content, title, date} = Astro.props;
---
<html lang="en">
<head>
    <title>This is {title}</title>
</head>
<body>
<h1>{title}</h1>
<time>{date}</time>
<article set:html={content}/>
</body>
</html>
